<div class="formContent">
    {{#each messages}}
    <div class="alert alert-danger">{{this}}</div>
    {{/each}}
    <form action="/users/signup" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email : </label>
            <input name="email" type="email" class="form-control" id="exampleFormControlInput1"
                placeholder="Please Enter Your Email ">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea2" class="form-label">Password : </label>
            <input name="password" type="password" class="form-control" id="exampleFormControlInput2"
                placeholder="Please Enter Your Password  ">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea3" class="form-label">Confirm Password : </label>
            <input name="confirmPassword" type="password" class="form-control" id="exampleFormControlInput3"
                placeholder="Please Enter Your Confirm Password  ">
        </div>
        <div class="mb-3">
            <input class="btn btn-success" type="submit" value="Signup">
        </div>
    </form>
</div>